asgiref
autopep8
dj-database-url     
Django
djangorestframework
gunicorn
numpy
psycopg
psycopg2
pycodestyle
python-decouple
pytz
sqlparse
toml
typing_extensions
tzdata
Unipath
whitenoise
django-rest-knox
Pillow