{% extends 'main.html' %}
{% load static %}

{% block content %}
    <div class=" container-fluid m-1 bg-light ">
        <div class="row">
            {% include 'sidebar.html' %}
            <div class=" col-9">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <canvas id="barChart1"></canvas>
                        </div>
                        <div class="col-md-6">
                            <canvas id="circularBarChart"></canvas>
                        </div>
                    </div>
                </div>

                <hr>

                <table class="table">
                    <caption> " Sample medical dataset "</caption>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">PatientID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">DOB</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <tr>
                            <th scope="row " class=" text-primary" id="record-number">loading...</th>
                            <td id="patient-id">loading...</td>
                            <td id="patient-name">loading...</td>
                            <td id="patient-gender">loading...</td>
                            <td id="patient-DOB">loading...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/doctor/charts.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/code.jquery.com_jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/doctor/list-patients.js' %}"></script>
{% endblock content %}