{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class=" container-fluid m-1 bg-light ">
    <div class="row">
        {% include 'sidebar.html' %}        
        <div class=" col-xl-9">
            <table class="table table-striped  ">
                <thead>
                    <tr>

                        <th scope="col" class="table-primary">#</th>
                        <th scope="col" class="table-primary">Patients ID</th>
                        <th scope="col" class="table-primary">Name</th>
                        <th scope="col" class="table-primary">Gender</th>
                        <th scope="col" class="table-primary">Email Address</th>
                        <th scope="col" class="table-primary">Height</th>
                        <th scope="col" class="table-primary">Weight</th>
                        <th scope="col" class="table-primary">Year Of Diagnosis</th>

                    </tr>
                </thead>
                <tbody id="table-body">

                {% for entry in document_data %}
                    <tr>
                        
                        <td class="document-number">{{ forloop.counter }}</td>
                        <td class="document-id">
                            <a href="{% url 'patientsdocument' entry.name %}">{{ entry.name }}</a>
                        </td>
                        <td class="document-title">{{ entry.data.display_name }}</td>
                        <td class="document">{{ entry.data.gender }}</td>
                        <td class="document">{{ entry.data.email }}</td>
                        <td class="document">{{ entry.data.height }}</td>
                        <td class="document">{{ entry.data.weight }}</td>
                        <td class="document">{{ entry.data.yearOfDiagnosis }}</td>
                    </tr>
                {% endfor %}                         
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="{% static 'js/doctor/patients-page-list.js' %}"></script>
{% endblock content %}