{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">

    <title>calendar</title>
    <link rel="stylesheet" href="{% static 'styles/calendar/calendar2.css' %}">
    <link rel="stylesheet" href="{% static 'styles/calendar/evo-calendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/calendar/evo-calendar.midnight-blue.css' %}">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;500;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand text-primary" href="#">TechCare</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    {% if request.user.is_patient %}
                    <a class="nav-link" href="{% url 'patient-homepage' %}">
                        Home 
                        <span class="sr-only">
                            (current)
                        </span>
                    </a>
    
                    {% else %}
                    <a class="nav-link" href="{% url 'doctor-homepage' %}">
                        Home 
                        <span class="sr-only">
                            (current)
                        </span>
                    </a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My page</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class=" container-fluid m-1 bg-light ">
        <div class="row">
            <div class=" col-3">
                <div class="list-group">
                    <a href="patient page.html" class="list-group-item list-group-item-action">
                        Patients
                    </a>
                    <a href="calendar2.html" class="list-group-item list-group-item-action">Calender</a>
                    <a href="chat page.html" class="list-group-item list-group-item-action">Chat</a>
                </div>
            </div>


            <div class="col-9">
                <div id="calendar"></div>
            </div>



        </div>
    </div>



    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/code.jquery.com_jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="{% static 'js/calendar/evo-calendar.min.js' %}"></script>
<script src="{% static 'js/calendar/calendar-script.js' %}"></script>

</html>