<!DOCTYPE html>
<html>
<head>
    <title>Daily Activity</title>
    <!-- Include Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Include Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- Include Moment.js adapter for Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
    <!-- Include Chart.js Annotation Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.2.2/dist/chartjs-plugin-annotation.min.js"></script>
</head>
<body>
    <div style="width: 80%; margin: auto;">
        <canvas id="myLineChart2"></canvas>
    </div>
    

    <script>
        var ctx2 = document.getElementById('myLineChart2').getContext('2d');
        var myLineChart2 = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: {{ data_for_chartjs.labels | safe }},  // Labels contain the time in ISO 8601 format
                datasets: [{
                    label: 'Daily Activity ',
                    data: {{ data_for_chartjs.datasets.1.data | safe }},
                    borderColor: 'rgb(75, 192, 192)',
                    fill: false
                }]
            },
            options: {
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'hour',  // Display time in hours
                            tooltipFormat: 'YYYY-MM-DD HH:mm:ss',
                            displayFormats: {
                                hour: 'HH:mm'  // Show only hours in X-axis
                            }
                        },
                        title: {
                            display: true,
                            text: 'Time (Last 24 Hours)'  // Label for X-axis
                        }
                    },
                    y: {
                        beginAtZero: true,
                        
                        title: {
                            display: true,
                            text: 'Daily Activity'
                        }
                    }
                },
               
            }
        });

       
        
    </script>
   
</body>
</html>
