{% load widget_tweaks %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
        }
        
        .container {
            margin-top: 20px;
            margin: 0;
        }
        
        h2 {
            font-family: "Times New Roman", Times, serif;
            text-align: left;
            background-color: #faf9f9;
            padding: 10px;
        }
    </style>


</head>

<body>
    <div class="container mt-4">
        <div class="row">

            <div class="col-md-9">
                <div class="d-flex align-items-center mb-3">
                    <form action="{% url 'export_psychomarkers_data' %}" method="get" class="me-3">
                        <button type="submit" class="btn btn-success">Export to Excel</button>
                    </form>
                    
                    <form id="importForm" action="{% url 'import_psychomarkers_data' %}" method="post" enctype="multipart/form-data" class="me-3 d-flex align-items-center">
                        {% csrf_token %}
                        <!-- Hidden file input -->
                        <input type="file" id="importFile" name="import_file" accept=".xlsx, .xls" class="form-control me-2" style="display: none;" />
                        <!-- Button to trigger file input -->
                        <button type="button" id="importButton" class="btn btn-primary">Import</button>
                    </form>
                    
                    <button type="button" class="btn btn-success" id="createButton" data-bs-toggle="modal" data-bs-target="#createModal">Create</button>

                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            const importButton = document.getElementById('importButton');
                            const importFileInput = document.getElementById('importFile');
                            const importForm = document.getElementById('importForm');
                    
                            // When the "Import" button is clicked, trigger the file input click
                            importButton.addEventListener('click', function () {
                                importFileInput.click();
                            });
                    
                            // When a file is selected, submit the form
                            importFileInput.addEventListener('change', function () {
                                if (importFileInput.files.length > 0) {
                                    importForm.submit();
                                }
                            });
                        });
                    </script>
                    
                </div>
                <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createModalLabel">Create Document</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="{% url 'create_psychomarkers' %}">
                                    {% csrf_token %}

                                    {% comment %} <div class="form-group">
                                        <label for="user">User</label>
                                        <select name="user_id" id="user_id" class="form-control">
                                            <option value="">Select User</option>
                                            {% for entry in users_data %}
                                            <option value="/users/{{ entry.name }}">{{ entry.data.display_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div> {% endcomment %}

                                    <div class="form-group">
                                        <label for="{{ form.depression.id_for_label }}">Depression</label> {% render_field form.depression class="form-control" %}
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>