{% extends 'main.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{% static 'styles/bootstrap.css'%}" />
</head>
<style>
    #sidebar{
    margin-left: -70px;
    }
    .danger{
        background-color: #dc3545;
        border-color: #dc3545;
       
     }
     .danger:hover{
        background-color: #f00820;
        color: white;
     }


     .success{
      background-color: #04AA6D;
      background-color: #04AA6D;
        margin-left: 100px;
        height: fit-content;
        margin-right: 10px;
     }
    .success:hover {
       background-color: #0bcc85;
       color: white;
    }
    .btn-group{
        margin-left: 55%;
    }

   
</style>
<body>
    <div class="container mt-6">
        <div class="row" id="sidebar">
            <div class="col-md-2">
                {% include 'sidebar.html' %}
            </div>
            <div class="col-md-10">
                <div class="card pr-6" >
                    {% comment %} <div class="card-header">
                        <h2 class="mb-0">Document Detail
                            <div class="btn-group" role="group">
                                <a class="btn success btn-sm">Edit</a>
                                <a class="btn danger btn-sm">Delete</a>
                            </div>
                        </h2>
                    </div>
                     {% endcomment %}
                    <div class="card-body">
                        <h3>User Information</h3>
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Display Name:</strong> {{ document_data.display_name }}</li>
                            <li class="list-group-item"><strong>Email:</strong> {{ document_data.email }}</li>
                            <li class="list-group-item"><strong>Gender:</strong> {{ document_data.gender }}</li>
                            <li class="list-group-item"><strong>Date of Birth:</strong> {{ document_data.dob }}</li>
                            <li class="list-group-item"><strong>Height:</strong> {{ document_data.height }}</li>
                            <li class="list-group-item"><strong>Weight:</strong> {{ document_data.weight }}</li>
                            <li class="list-group-item"><strong>Type of Diabetes:</strong> {{ document_data.typeOfDiabetes }}</li>
                           
                            <li class="list-group-item"><strong>year of diagnosis:</strong> {{ document_data.yearOfDiagnosis }}</li>
                          
                          
                          </ul>
                        
                          
                            <h5 >
                              Additional Information 
                              <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInfo" aria-expanded="false" aria-controls="collapseInfo">
                                Show<i class="bi bi-chevron-down"></i>
                              </button>
                            </h5>
                          
                          <div id="collapseInfo" class="collapse">
                            <div class="card-body">
                              <ul class="list-group">
                                <li class="list-group-item"><strong>Learn Points:</strong> {{ document_data.learn_points }}</li>
                                <li class="list-group-item"><strong>Meditate Points:</strong> {{ document_data.meditate_points }}</li>
                                <li class="list-group-item"><strong>uid:</strong> {{ document_data.uid }}</li>
                                <li class="list-group-item"><strong>Stories Count:</strong> {{ document_data.storiesCount }}</li>
                                <li class="list-group-item"><strong>Log Points:</strong> {{ document_data.logPoints }}</li>
                                <li class="list-group-item"><strong>Interests:</strong> {{ document_data.interests | join:", " }}</li>
                                <li class="list-group-item"><strong>Created Time:</strong> {{ document_data.created_time }}</li>
                                <li class="list-group-item"><strong>Rank:</strong> {{ document_data.rank }}</li>
                                <li class="list-group-item"><strong>Physical Activity:</strong> {{ document_data.physiclActivity }}</li>
                                <li class="list-group-item"><strong>Fresh:</strong> {{ document_data.fresh }}</li>
                                <li class="list-group-item"><strong>Time Zone:</strong> {{ document_data.timeZone }}</li>
                            </ul>
                            </div>
                          </div>
                        
                          
                        {% comment %} {% if readbites_data %}
                        <h3>ReadBites Information</h3>
                        <ul class="list-group mb-4">
                            {% for readbite in readbites_data %}
                                {% for key, value in readbite.items %}
                                    <li class="list-group-item">
                                        <strong>{{ key }}:</strong> {{ value }}
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    
                    {% if readstories_data %}
                        <h3>ReadStories Information</h3>
                        <ul class="list-group mb-4">
                            {% for readstory in readstories_data %}
                                {% for key, value in readstory.items %}
                                    <li class="list-group-item">
                                        <strong>{{ key }}:</strong> {{ value }}
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}


                    {% if suggestedActivities_data %}
                        <h3>SuggestedActivities Information</h3>
                        <ul class="list-group mb-4">
                            {% for suggestedactivities in suggestedActivities_data %}
                                {% for key, value in suggestedactivities.items %}
                                    <li class="list-group-item">
                                        <strong>{{ key }}:</strong> {{ value }}
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if suggestedBites_data %}
                        <h3>SuggestedBites Information</h3>
                        <ul class="list-group mb-4">
                            {% for suggestedbites in suggestedBites_data %}
                                {% for key, value in suggestedbites.items %}
                                    <li class="list-group-item">
                                        <strong>{{ key }}:</strong> {{ value }}
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if suggestedInAppLinks_data %}
                        <h3>SuggestedInAppLinks Information</h3>
                        <ul class="list-group mb-4">
                            {% for suggestedInAppLinks in suggestedInAppLinks_data %}
                                {% for key, value in suggestedInAppLinks.items %}
                                    <li class="list-group-item">
                                        <strong>{{ key }}:</strong> {{ value }}
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if suggestedJournals_data %}
                        <h3>SuggestedJournals Information</h3>
                        <ul class="list-group mb-4">
                            {% for suggestedJournals in suggestedJournals_data %}
                                {% for key, value in suggestedJournals.items %}
                                    <li class="list-group-item">
                                        <strong>{{ key }}:</strong> {{ value }}
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if suggestedSelfAwarnessBites_data %}
                        <h3>SuggestedSelfAwarnessBites Information</h3>
                        <ul class="list-group mb-4">
                            {% for suggestedSelfAwarnessBites in suggestedSelfAwarnessBites_data %}
                                {% for key, value in suggestedSelfAwarnessBites.items %}
                                    <li class="list-group-item">
                                        <strong>{{ key }}:</strong> {{ value }}
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    
                    {% if suggestedWildCards_data %}
                        <h3>SuggestedWildCards Information</h3>
                        <ul class="list-group mb-4">
                            {% for suggestedWildCards in suggestedWildCards_data %}
                                {% for key, value in suggestedWildCards.items %}
                                    <li class="list-group-item">
                                        <strong>{{ key }}:</strong> {{ value }}
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if selfLadder_data %}
                        <h3>SelfLadder Information</h3>
                        <ul class="list-group mb-4">
                            {% for selfLadder in selfLadder_data %}
                                {% for key, value in selfLadder.items %}
                                    <li class="list-group-item">
                                        <strong>{{ key }}:</strong> {{ value }}
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %} {% endcomment %}

                    {% comment %} {% if psychomarkers_data %}
                        <h3>Psychomarkers Information</h3>
                        <ul class="list-group mb-4">
                            {% for psychomarkers in psychomarkers_data %}
                                {% for key, value in psychomarkers.items %}
                                    <li class="list-group-item">
                                        <strong>{{ key }}:</strong> {{ value }}
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %} {% endcomment %}

       


                    {% comment %} {% if inquiry_data %}
                        <h3>Inquiry Information</h3>
                        <ul class="list-group mb-4">
                            {% for inquiry in inquiry_data %}
                                {% for key, value in inquiry.items %}
                                    <li class="list-group-item">
                                        <strong>{{ key }}:</strong> {{ value }}
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %} {% endcomment %}

                    {% comment %} {% if biomarkers_data %}
                        <h3>Biomarkers Information</h3>
                        <ul class="list-group mb-4">
                            {% for biomarkers in biomarkers_data %}
                                {% for key, value in biomarkers.items %}
                                    <li class="list-group-item">
                                        <strong>{{ key }}:</strong> {{ value }}
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %} {% endcomment %}
                
                    {% if bmi %}
                    <div class="row ">
                        <!-- First Column: BMI and Chart -->
                        <div class="col-md-6">
                            <h4>BMI</h4>
                            <ul class="list-group mb-4">
                                <p>BMI: {{ bmi }}</p>
                            </ul>
                            <!-- Add BGM Chart -->
                <h4>Percent BGM readings per ranges</h4>

                        {% include "frontend/techcare_data/bgm_chart.html" %}
                            
                        </div>
    
                        <!-- Second Column: BGM Statistics -->
                        <div class="col-md-2">
                            {% if number_of_readings %}
                            <h4>BGM Statistics</h4>
                            {% include "frontend/techcare_data/bgm_statistics.html" %}
                        {% endif %}
                           
                        </div>
                    </div>
                {% endif %}
              
                 <br>


                    {% if page_psychomarkers %}
                    <h3>Psychomarkers Information</h3>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">depression</th>
                                    <th scope="col">anxiety</th>
                                    <th scope="col">time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for psychomarkers in page_psychomarkers %}
                                    <tr>
                                        <td>{{ psychomarkers.depression }}</td>
                                        <td>{{ psychomarkers.anxiety }}</td>
                                        <td>{{ psychomarkers.time }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if page_psychomarkers.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page_psychomarkers={{ page_psychomarkers.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for num in page_psychomarkers.paginator.page_range %}
                                <li class="page-item {% if page_psychomarkers.number == num %}active{% endif %}">
                                    <a class="page-link" href="?page_psychomarkers={{ num }}">{{ num }}</a>
                                </li>
                            {% endfor %}
                            {% if page_psychomarkers.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page_psychomarkers={{ page_psychomarkers.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
                
                {% if page_biomarkers %}
                    <h3>Biomarkers Information</h3>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">FBS</th>
                                    <th scope="col">HBA1c</th>
                                    <th scope="col">bloodGlucose</th>
                                    <th scope="col">bloodGlucoseType</th>
                                    <th scope="col">dailyActivity</th>
                                    <th scope="col">dailyCarbs</th>
                                    <th scope="col">sleepQuality</th>
                                    <th scope="col">time</th>
                                    <th scope="col">weeklyActivity</th>
                                    <th scope="col">weight</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for biomarker in page_biomarkers %}
                                    <tr>
                                        <td>{{ biomarker.FBS }}</td>
                                        <td>{{ biomarker.HBA1c }}</td>
                                        <td>{{ biomarker.bloodGlucose }}</td>
                                        <td>{{ biomarker.bloodGlucoseType }}</td>
                                        <td>{{ biomarker.dailyActivity }}</td>
                                        <td>{{ biomarker.dailyCarbs }}</td>
                                        <td>{{ biomarker.sleepQuality }}</td>
                                        <td>{{ biomarker.time }}</td>
                                        <td>{{ biomarker.weeklyActivity }}</td>
                                        <td>{{ biomarker.weight }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if page_biomarkers.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page_biomarkers={{ page_biomarkers.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for num in page_biomarkers.paginator.page_range %}
                                <li class="page-item {% if page_biomarkers.number == num %}active{% endif %}">
                                    <a class="page-link" href="?page_biomarkers={{ num }}">{{ num }}</a>
                                </li>
                            {% endfor %}
                            {% if page_biomarkers.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page_biomarkers={{ page_biomarkers.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
                <style>
                    .table-responsive {
                        overflow-x: auto;
                        white-space: nowrap;
                    }
                    
                </style>

                    
                    {% comment %} {% if dailyBloodGlucoseAverage_data %}
                        <h3>DailyBloodGlucoseAverage Information</h3>
                        <ul class="list-group mb-4">
                            {% for dailyBloodGlucoseAverage in dailyBloodGlucoseAverage_data %}
                                {% for key, value in dailyBloodGlucoseAverage.items %}
                                    <li class="list-group-item">
                                        <strong>{{ key }}:</strong> {{ value }}
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if feelings_data %}
                        <h3>Feelings Information</h3>
                        <ul class="list-group mb-4">
                            {% for feelings in feelings_data %}
                                {% for key, value in feelings.items %}
                                    <li class="list-group-item">
                                        <strong>{{ key }}:</strong> {{ value }}
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %} {% endcomment %}

                    {% if data_for_chartjs  %}
                    
                    {% include "frontend/techcare_data/chart_biomarkers.html" %}
                    {% include "frontend/techcare_data/weekly_biomarkers_chart.html" %}
                    
                    {% include "frontend/techcare_data/chart_activity.html" %}
                    {% include "frontend/techcare_data/chart_carbs.html" %}
                    {% include "frontend/techcare_data/weight_chart.html" %}
                    


                    
                    {% endif %}
                    {% include "frontend/techcare_data/bgm_chart.html"%}
                     
                    </div>
                </div>
               
            </div>
             
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
   
</body>
</html>
{% endblock content %}