{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
        }
        
        .container {
            margin-top: 20px;
            margin: 0;
        }
        
        h2 {
            font-family: "Times New Roman", Times, serif;
            text-align: left;
            background-color: #faf9f9;
            padding: 10px;
        }
    </style>
</head>
<button type="button" class="btn btn-primary btn-sm" id="updateButton" data-toggle="modal" data-target="#updateModal_{{ entry.name }}">Update</button>

<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-9">

                <div class="modal fade" id="updateModal_{{ entry.name }}" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel_{{ entry.name }}" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateModalLabel">Update Document</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="{% url 'update_users' document_name=entry.name %}">
                                    {% csrf_token %}

                                    <div class="form-group">
                                        <label for="{{ form.email.id_for_label }}">Email</label> 
                                        <input type="text" name="email" class="form-control" value="{{ entry.data.email }}">
                                    </div>
                           

                                    <div class="form-group">
                                        <label for="tags">Gender</label>
                                        <select name="gender" id="id_tags" class="form-control">
                                            <option value="">Select Gender</option>
                                            <option {% if entry.data.gender == 'ذكر' %} selected {% endif %} value="ذكر" class="form-control">ذكر</option> 
                                            <option {% if entry.data.gender == 'انثى' %} selected {% endif %} value="انثى" class="form-control">انثى</option> 
                                        </select>
                                    </div>

                                    

                                    <div class="form-group">
                                        <label for="{{ form.uid.id_for_label }}">Uid</label> 
                                        <input type="text" name="uid" class="form-control" value="{{ entry.data.uid }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.display_name.id_for_label }}">Display_Name</label> 
                                        <input type="text" name="display_name" class="form-control" value="{{ entry.data.display_name }}">
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>