<div>
    <div class="list-group">
        <a href="{% url 'patients' %}" class="list-group-item list-group-item-action">
            Patients
        </a>
        <a href="{% url 'calendar' %}" class="list-group-item list-group-item-action">
            Calendar
        </a>
        <a href="{% url 'doctor-chat' %}" class="list-group-item list-group-item-action">
            Chat
        </a>
        <a href="{% url 'mind_activities' %}" class="list-group-item list-group-item-action">Mind Activities</a>

         <a href="{% url 'collections' %}" class="list-group-item list-group-item-action">Collections</a>
  
    </div>
</div>
